<a href="https://colab.research.google.com/github/RyutoYoda/secondhand_car/blob/main/secondhand_car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
os.chdir('/content/drive/MyDrive/secondhand_car/data')

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [4]:
train = pd.read_csv('train.csv')

In [5]:
test = pd.read_csv('test.csv')

In [10]:
train.head()

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price
0,0,215,1949,39,0,5,2,115148,0,1,2,4,2,6,44,27587
1,1,321,2013,72,1,6,2,172038,0,0,2,1,9,9,38,4724
2,2,358,1998,46,2,5,2,152492,0,0,1,1,0,9,16,10931
3,3,3,2014,46,0,3,2,104118,0,1,1,4,0,1,34,16553
4,4,264,2005,46,0,5,2,144554,0,1,1,4,9,8,4,5158

In [11]:
test.head()

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state
0,27532,357,2015,42,0,3,2,92553,0,0,1,1,0,8,44
1,27533,271,2013,63,3,3,2,134385,5,0,1,4,9,0,37
2,27534,2,2011,74,2,3,2,102489,0,0,1,1,9,0,35
3,27535,74,2016,52,0,5,0,64310,0,0,0,4,0,8,5
4,27536,134,1999,48,0,6,2,180839,4,0,0,4,0,9,27

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

train.fillna({'condition': 'unknown', 'cylinders': 'unknown', 'fuel': 'unknown',
                   'title_status': 'unknown', 'transmission': 'unknown', 'drive': 'unknown',
                   'size': 'unknown', 'type': 'unknown', 'paint_color': 'unknown', 'state': 'unknown'}, inplace=True)
test.fillna({'condition': 'unknown', 'cylinders': 'unknown', 'fuel': 'unknown',
                  'title_status': 'unknown', 'transmission': 'unknown', 'drive': 'unknown',
                  'size': 'unknown', 'type': 'unknown', 'paint_color': 'unknown', 'state': 'unknown'}, inplace=True)

In [ ]:

label_encoders = {}
for column in ['region', 'manufacturer', 'condition', 'cylinders', 'fuel', 'title_status',
               'transmission', 'drive', 'size', 'type', 'paint_color', 'state']:
    le = LabelEncoder()
    train[column] = le.fit_transform(train[column])
    test[column] = le.transform(test[column])
    label_encoders[column] = le

In [ ]:
X_train = train.drop(columns=['id', 'price'])
y_train = train['price']
X_test = test.drop(columns=['id'])

In [ ]:
X_train.head(), y_train.head()

In [7]:
import xgboost as xgb

xgb_model = xgb.XGBRegressor(objective ='reg:squarederror', random_state=42)

xgb_model.fit(X_train, y_train)

train_score = xgb_model.score(X_train, y_train)
train_score

0.6423677303641897

In [9]:

price_predictions = xgb_model.predict(X_test)

submit_df = pd.DataFrame({'id': test['id'], 'price': price_predictions})

submit_file_path = "/content/drive/MyDrive/secondhand_car/data/submit_xgb.csv"
submit_df.to_csv(submit_file_path, index=False,header=False)

submit_df.head(), submit_file_path

(      id         price
 0  27532  11739.146484
 1  27533   9526.443359
 2  27534   4953.299805
 3  27535  27259.523438
 4  27536  11805.519531,
 '/content/drive/MyDrive/secondhand_car/data/submit_xgb.csv')